<a href="https://colab.research.google.com/github/Naihell/TESTEPYSPARK-Confitec/blob/main/matrix_task/matrix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 65.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845514 sha256=310386eede56052a1e871ec6ced4126989bff57e4e0eca806fd70f1909f5ecbe
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
# Import SparkSession
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a Spark Session
spark = SparkSession.builder.master("local[*]").getOrCreate()
# Check Spark Session Information
spark

In [3]:
import pandas as pd
from random import randint

In [78]:
# Set any integer number
matrix_size = 5

In [37]:
def gerenate_random_matrix(matrix_size:int) -> list:
    """
        Create a matrix with equal sizes and fulfill with random integer 
        numbers.
    """
    matrix = []

    for i in range(matrix_size):
      matrix.append([randint(0,10) for i in range(matrix_size)])

    return matrix

### Create two variables containing a random matrix

In [79]:
matrix_a = gerenate_random_matrix(matrix_size)
matrix_b = gerenate_random_matrix(matrix_size)

### Details of Matrix A

In [75]:
pd.DataFrame(matrix_a)

   0  1
0  5  9
1  3  1

### Details of Matrix B

In [77]:
pd.DataFrame(matrix_b)

   0   1
0  9   2
1  7  10

In [80]:
matrix_product = [
      [sum(a * b for a, b in zip(matrix_a_row, matrix_b_column)) 
      for matrix_b_column in zip(*matrix_b)] 
      for matrix_a_row in matrix_a
    ]

In [81]:
pd.DataFrame(matrix_product)

     0    1    2    3    4
0  132  112  132  106  126
1  111  143  124   96  112
2  135   94   90   76  120
3   28   68   48  122   68
4  105  101  106  122  112

### List comprehension are a little bit hard to read and things can get slower with a big matrix. Numpy offer an elegant and efficient approach.

In [68]:
import numpy as np

In [82]:
pd.DataFrame(np.matmul(matrix_a, matrix_b))

     0    1    2    3    4
0  132  112  132  106  126
1  111  143  124   96  112
2  135   94   90   76  120
3   28   68   48  122   68
4  105  101  106  122  112